:root {
  --navy-900: #000000;
  --navy-800: #040138;
  --navy-600: #3d3a6c;
  --grey-900: #000000;
  --grey-600: #646464;
  --grey-500: #898989;
  --grey-300: #D5D5D5;
  --grey-200: #EAEAEA;
  --grey-100: #f2f2f2;
  --teal-900: #029FB4;
  --blue-500: #2943E5;
  --white: #ffffff;
  --medium: 500;
  --normal: 400;
  --roboto:"Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--roboto);
  font-weight: var(--normal);
  background-color: var(--grey-100);

  & ul {
    list-style: none;
  }
}

main {
  margin: 0 48px;
  display: grid;
  grid-template-columns: repeat( 12, 1fr);
  grid-gap: 0 24px;
  align-items: center;

  @media (max-width: 1439px) {
    margin: 0 40px;
  }

  @media (max-width: 1239px) {
    margin: 0 36px;
  }

  @media (max-width: 904px) {
    margin: 0 32px;
  }

  @media (max-width: 599px) {
    margin: 0 16px;
  }

  & h2 {
    font-size: 1.75rem;
    font-weight: var(--medium);
    color: var(--grey-900);
    line-height: 36px;

    @media (max-width: 599px) {
      font-size: 1.5rem;
    }
  }
}

button {
  font-weight: var(--medium);
  font-size: 1rem;
  font-style: normal;
  padding: 0 16px 0 12px;
  min-width: 96px;
  height: 40px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  line-height: 22px;

  @media (max-width: 599px) {
    font-size: 0.75em;
    line-height: 16px;
  }

  & svg {
    margin-right: 8px;
    height: 20px;
    width: 20px;
  }
}

button.primary {
  color: var(--white);
  background-color: var(--navy-800);
  border: 1px solid var(--navy-800);
}

button.primary:hover {
  background-color: var(--navy-600);
}

button.secondary {
  background-color: var(--white);
  border: 1px solid var(--grey-500);
  color: var(--grey-900);
}

button.secondary:hover {
  background-color: var(--grey-100);
}

button.tertiary {
  border: 0;
  color: var(--navy-800);
}

button.tertiary:hover {
  background-color: var(--white);
}

button:hover {
  cursor: pointer;
}

.icon-down {
  margin: 0 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.pagination {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 14px;

  & div {
    display: flex;
    align-items: center;
  }

  & .square {
    margin-right: 10px;
  }

  & label {
    margin-right: 8px;
    font-size: 1rem;
    font-weight: var(--normal);
  }

  & input {
    font-size: 1rem;
    text-align: center;
  }

  & div.square:hover {
    background-color: var(--grey-100);
    border: 1px solid var(--grey-300);
  }

  @media (max-width: 904px) {
    justify-content: center;
  }
}

.square {
  background-color: var(--white);
  border: 1px solid var(--grey-500);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.grey-square {
  background-color: var(--grey-100);
  border: 1px solid var(--grey-300);
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--grey-600);
}

.checkbox:hover input ~ .checkmark {
  background-color: var(--grey-100);
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: var(--navy-900);
  border-color: var(--navy-900);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 4px;
  top: 0;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(72,72,72);
  background-color: rgba(72,72,72,0.9);
}

.modal-content {
  position: fixed;
  right: 0;
  margin: auto;
  width: 360px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: white;;
}

.filter-header {
  padding-left: 48px;
  padding-right: 24px;
  height: 64px;
  display: flex;
  align-items: center;
  font-weight: var(--medium);
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.15);

  & p {
    text-align: center;
    width: 100%;
  }

  & span {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.filter-middle {
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.15);

  & p {
    font-weight: var(--medium);
  }

  & ul {
    margin: 0;
    padding: 0;
  }
}

.filter-footer {
  margin-left: 24px;
  margin-right: 24px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  & button:disabled {
    cursor: not-allowed;
    background-color: var(--grey-100);
    color: var(--grey-900);
    border: 1px solid var(--grey-300);
  }
}

#filter-chips {
  margin-left: 24px;
  margin-top: 8px;

  & a {
    margin-left: 8px;
    text-decoration: none;
    color: var(--blue-500);
    font-size: 1rem;
  }

  & a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  & .chip {
    display: inline-flex;
    align-items: center;
    background-color: var(--grey-100);
    padding-left: 12px;
    padding-right: 6px;
    border-radius: 8px;
    height: 32px;
    font-size: 0.875rem;
    margin-right: 8px;

    & p {
      margin: 0;
      color: var(--grey-900);
      padding-right: 1em;

      & .categorized-chip {
        font-weight: var(--medium);
      }
    }

    & .clear-filter {
      width: 20px;
      height: 20px;

      & .icon-tabler-x {
        color: var(--grey-500);
        font-weight: var(--normal);
        width: 20px;
        height: 20px;
      }
    }

    & .clear-filter:hover {
      cursor: pointer;
    }
  }

  & .chip:hover {
    background-color: var(--grey-300);
  }
}




